<div class="wrapper">
	<h2>About us</h2>
	<p>This application is used to share travel photos and notes, it will automatically geolocate your photo (if your camera has a GPS), and it will show your footprint on the map.</p>
</div>