// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper {
	margin:30px;
}

.pins {
	background: white;
}

#pins {
	padding-top:10px;
	margin: 0 auto;
}

.box {
	margin: 5px;
	width: 240px;
	position:relative;
}

.box img{
	width: 100%;
}

.panel-body img{
	width:30px;
	height:30px;
}